.header-container {
  width: 100%;
  height: 84px;
  background-color: #192140;
}

.logo {
  position: relative;
  left: 50px;
  top: 10px;
  width: 80px;
  height: 70px;
}

.header-left-container {
  display: flex;
  width: 300px;
  padding: 0px;
  position: relative;
  top: -55px;
  left: 830px;
  gap: 20px;
}

.sign-in-btn {
  width: 100px;
  height: 50px;
  border: 1px solid #9d9db5;
  border-radius: 25px;
  padding: 10px 10px;

  color: #9d9db5;
  background-color: #192140;
}

.sign-in-btn:hover {
  color: #0266ff;
  border: 1px solid #0266ff;
}

.cart {
  width: 5px;
  height: 25px;
  background-color: #192140;
  border: none;

  position: relative;
  left: 20px;
  top: 13px;
  cursor: pointer;
  color: #9d9db5;
  font-size: 14px;
}

.link {
  width: 80px;
}

.currency {
  width: 50px;
  height: 50px;

  background-color: #192140;
  font-size: 14px;
  color: #9d9db5;
  border: none;

  cursor: pointer;
}

.currency:hover {
  color: #0266ff;
}

@media only screen and (max-width: 375px) {
  .header-container {
    width: 375px;
  }

  .logo {
    position: relative;
    left: 20px;
  }

  .header-left-container {
    width: 30px;
    position: relative;
    top: -55px;
    left: 250px;
  }

  .cart {
    width: 80px;
    height: 50px;
    background-color: white;
    border: 1px solid #0266ff;
    border-radius: 25px;
    padding: 5px 10px;

    position: absolute;
    left: -230px;
    top: 90px;
    cursor: pointer;
    color: #0266ff;
    font-size: 14px;
  }

  .cart:hover {
    background-color: #0266ff;
    color: white;
  }

  button.sign-in-btn {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid #0266ff;
    border-radius: 25px;
    padding: 10px 10px;
    color: #0266ff;

    position: absolute;
    top: 90px;
    left: 0px;
  }

  .currency {
    position: relative;
    left: 30px;
  }
}
